<!DOCTYPE html>

<html>

<head>

	<title>{$data->a}</title>

	<style>body{background-color: #f7f7f7;}img{max-width:900px;}</style>

</head>

<body>

	<div style='width:900px;margin:auto;font-size:26px;'>

		<span class="txt-title-view_1">{$data->head_title}</span>

	</div>

	<div style='width:900px;margin:auto;padding:30px 0;'>

		<span class="time">{$data->release_time}</span>

	</div>

	<div style='width:900px;margin:auto;'>{$concent}</div>

	<div style='width:900px;margin:auto;'>来源：<a href='http://www.acfun.cn/a/{$data->acid}'>{$data->source}</a></div>

</body>

</html>



