<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb" lang="en">
<head>
  <title>请与废柴的尾巴</title>
  <meta charset="utf-8">
  <meta name ="format-detection"content ="telephone=no"/>
  <meta name="keywords"content="无限大梦想,大世界,八音盒,幻想乡,尾巴,知白,废柴の尾巴,冰凉的尾巴,icytail"/>
  <meta name="description"content="小知白的幻想乡">
  <link rel="stylesheet"href="/static/css/style.css">
  <script src="/static/js/public/jquery.1.8.3.min.js"></script>
  <script src="/static/js/public/tmStickUp.js"></script>
  <script>
    $(document).ready(function() {
      $('#stuck_container').tmStickUp({});
    });
  </script>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1674049162" type="text/javascript" charset="utf-8">
  </script>
</head>
<body class="page1" id="top">
<!--==============================
header
=================================-->
<header>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h1><a href="#">喜欢 <br> 一定宛如大海 </a></h1>
          凪のあすから
        </div>
      </div>
    </div>
  </div>
  <section id="stuck_container">
<!--==============================
Stuck menu
=================================-->
<div class="container">
  <div class="row">
    <div class="grid_12 ">
      <h1 class="logo">
        <a href="/index.php">
          アイシテル
        </a>
      </h1>
      <div class="navigation ">
        <nav>
          <ul class="sf-menu"> 
            {volist name='navlist' id='nav'}
            <li><a href="{$nav->url}" class="{$nav->class}" target="_blank">{$nav->navname}</a></li>
            {/volist}
          </ul>
        </nav>
        <div class="clear"></div>
      </div>       
      <div class="clear"></div>  
    </div>
  </div> 
</div> 
</section>
</header>
<!--=====================
Content
======================-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h2 class="ta__center">ダメ</h2>
        <div class="shuffle-group">
          <div class="row">
            <div class="grid_8">
              <div data-si-mousemove-trigger="100"class="shuffle-me offset__1">
                <a class="info"target="_blank"></a>
                <div class="images wh770x414">
                  <img src="/static/images/gall_lt.jpg"alt="">
                </div>
              </div>
            </div>
            <div class="grid_4">
              <div data-si-mousemove-trigger="100"class="shuffle-me">
                <a class="info"target="_blank"></a>
                <div class="images wh370x190">
                  <img src="/static/images/gall_rt_1.jpg"alt="">
                </div>
              </div>
              <div data-si-mousemove-trigger="100"class="shuffle-me offset__1">
                <a class="info"target="_blank"></a>
                <div class="images wh370x190">
                  <img src="/static/images/gall_rt_2.jpg"alt="">
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="grid_4">
              <div data-si-mousemove-trigger="100"class="shuffle-me">
                <a class="info"target="_blank"></a>
                <div class="images wh370x190">
                  <img src="/static/images/gall_ld_1.jpg"alt="">
                </div>
              </div>
              <div data-si-mousemove-trigger="100"class="shuffle-me">
                <a class="info"target="_blank"></a>
                <div class="images wh370x190">
                  <img src="/static/images/gall_ld_2.jpg"alt="">
                </div>
              </div>
            </div>
            <div class="grid_8">
              <div data-si-mousemove-trigger="100"class="shuffle-me">
                <a class="info"target="_blank"></a>
                <div class="images wh770x414">
                  <img src="/static/images/gall_rd.jpg"alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sep-1"></div>
  <div class="container">
    <div class="row">
      <div class="grid_8">
        <h3>Lost one</h3>
        <img src="/static/images/page1_img1.jpg"alt=""class="img_inner fleft noresize wd134x97">
        <div class="extra_wrapper">
          <p>没有过多或不足，没有不自由，最近生活着</p>
          <p>但是为什么我们胸口内心的部分</p>
          <p>说着好想消失，说着好想去死</p>
          <p>解读那个孩子心情吗？将那颗心染黑的，到底是谁啊？</p>
          <p>能解开那个孩子颈上的项圈吗？我们就维持原状可以吗？该怎么办啊？</p>
          <p class="offset__1">说的出小时候的梦想吗？连梦想都丢弃在水沟的，到底是谁啊？早就知道了吧？</p>
        </div>
        <div class="clear"></div>
        <p>何时才可以成为大人</p>
        <p>首先大人到底是什么样呢</p>
        <p>该怎么开口询问才好，该怎么办才好呀，已经怎么样都无所谓啊</p>
        <a class="btn">もっと</a> 
      </div>
    </div>
  </div>
  <div class="sep-1"></div>
  <div class="container">
    <div class="row">
      <div class="grid_7">
        <h3 class="head__1">From the Heart</h3>
        <time class="time-1"datetime="2016-04-17">17.04 <br> 2016</time>
        <p class="offset__2">为了我，你就永远当个废物吧。为了能让我好好努力，就一生，都成为我的负担吧。但是，我不愿再这样什么都不做什么都不变地结束</p>
        <p class="offset__2">成为大人这种事情，就是用所谓的明智来取代幻想。 一时的勇气，与不得不持续到永久的勇气, 哪一边比较痛苦很明显吧。 双脚没有踏在实地上的自己，连停下来的自由也没有。 因为心无形， 所以——已经留下的伤痕， 是无法治愈的。<p class="offset__2">
          <blockquote><p><b>若她涉世未深，就带她看尽人间繁华； </b></p><p><b>若她心已沧桑，就带她坐旋转木马；</b></p><p><b>若她情窦初开，你就宽衣解带；</b></p><p><b>若她阅人无数，你就灶边炉台。”</b></p></blockquote>
          <a class="btn">もっと</a>
        </div>
      </div>
    </div>
  </section>
<!--==============================
footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12"> 
        <div class="sub-copy">向经典致敬 侵删</div>
        <div class="sub-copy"><img src="/static/icons/icy_tail.jpg"></div>
        <div class="sub-copy">Copyright © 2015 互联网ICP备案：湘ICP备15019325号</div>
        <div class="sub-copy">联系邮箱：<a href="mailto:icytail@iyume.cn">icytail@iyume.cn</a></div>
	<audio src="/static/sound/nihao.wav" autoplay="autoplay"></audio>
        <div style="margin: 20px 0">
          <a href='http://passport.iyume.cn/login'>[登录]</a>&nbsp;&nbsp;
          <wb:login-button type="4,5" onlogin="login" onlogout="logout">登录按钮</wb:login-button>
        </div>
      </div>
    </div>
  </div>
</div> 
</footer>
<script>
  WB2.anyWhere(function(W){
    W.widget.connectButton({
      id: "wb_connect_btn", 
      type:"3,5",
      callback : {
            login:function(o){  //登录后的回调函数
            },  
            logout:function(){  //退出后的回调函数
            }
          }
        });
  });
</script>
<script type="text/javascript" src="/static/js/videoplayer.js"></script>
</body>
</html>