@CHARSET "UTF-8";

.iyume-video-player {
	width: 928px;
	height: 522px;
	margin: auto;
	padding: 50px 0;
}
.iyume-video-list {
	width: 50vw;
	margin: auto;
	padding: 50px 0;
}
.con_page{
	padding: 20px 0;
}